.video-player-box {
  width: 100%;
}

.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

.video-detail {
  width: 60%;
  margin-left: calc(94px + 4.5em + 80px);
}

.btn {
  border: 0;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
  font-weight: 700;
}

.good {
  color: blue;
}

.bad {
  color: red;
}

.thumbnail {
  border: none;
  background-size: cover;
}

.video-player {
  width: 100%;
  height: 480px;
  max-width: 854px;
  max-height: 480px;
  display: block;
  margin: 2em auto;
  border: none;
}

.video-list-title {
  color: black;
  display: block;
  margin: 0 0 4px 0;
  max-height: 3.2rem;
  overflow: hidden;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.6rem;
}

.video-fav-info {
  text-align: right;
}

.channelName {
  color: black;
  display: inline-block;
}

.main-video-title {
  color: black;
  font-weight: 400;
  margin-bottom: 0;
}

.main-video-description {
  color: black;
}

.text-container {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.video-detail-wrapper {
  max-width: 854px;
}

.main-video-channelTitle {
  color: #fff;
}

.comment-input {
  border: 0;
  border-bottom: 2px solid #313131;
  outline: 0;
}

.comment-subbtn {
  border: 0;
  background-color: transparent;
  outline: 0;
}

.comment-subbtn:hover {
  color: red;
}

.comments-box {
  padding-left: 0;
}

.comments-title {
  width: 100%;
  border-bottom: 1px solid #eee;
}

.comment-list {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.comment-remove-btn {
  background: transparent;
  border: 0;
  outline: 0;
}

.comment-remove-btn:hover {
  color: red;
}

/* @medias */

@media screen and (max-width: 1580px) {
  .video-detail {
    width: 70%;
    margin-left: 0;
    margin: auto;
  }
  .video-detail-wrapper {
    min-width: 640.5px;
    min-height: 362.25px;
  }
  .video-player {
    max-width: 100%;
    max-height: 362.25px;
  }

  .video-list-wrapper {
    width: 100%;
    margin-left: 3px;
    padding-left: 0;
  }

  .list-item {
    margin: 20px 0 20px 20px;
  }
}

@media (max-width: 957px) {
  .video-detail {
    width: 90%;
    flex-direction: column;
    margin-left: 0;
    margin: auto;
  }
  .video-detail-wrapper {
    width: 100%;
    max-height: none;
    min-width: 0;
  }
  .video-player {
    max-width: none;
    min-width: 0;
    width: 100%;
  }

  .video-list-wrapper {
    width: 100%;
    padding-left: 0;
  }

  .search-wrapper {
    width: 100%;
    margin-left: 2em;
  }

  .search-bar {
    width: 94%;
  }
}
